{% extends "base.html" %}

{% block title %}
    Authorization
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('authorization.static', filename = 'authorization.css') }}">
{% endblock %}

{% block content %}
    <header class="header">
        <div class="links">
            <a href="/">Home</a>
            <a href="/registration">Registration</a>
        </div>
        <div class="image">
            <img src="{{ url_for('authorization.static', filename = 'images/profile.png') }}" alt="">
        </div>
    </header>
    <main style="background-image: url({{ url_for('authorization.static', filename = 'images/background.jpg') }});">
        <div class="main-window">
            <h1 class="text">Авторизація</h1>
            <form action="" method="post">
                <p class="name-text">Username</p>
                <input type="text" class="name" name="name">
                <p class="password-text">Password</p>
                <input type="text" class="password" name="password">
                <button class="button-send" type="submit">Надіслати</button>
            </form>
        </div>
    </main>
{% endblock %}