{% extends "base.html" %}

{% block title %}
    Registration
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('registration.static', filename = 'registration.css') }}">
{% endblock %}

{% block content %}
    <header class="header">
        <div class="links">
            <a href="/">Home</a>
            <a href="/authorization">Authorization</a>
        </div>
        <div class="image">
            <img src="{{ url_for('registration.static', filename = 'images/profile.png') }}" alt="">
        </div>
    </header>
    <main style="background-image: url({{ url_for('registration.static', filename = 'images/background.jpg') }});">
        <div class="main-window" >
            <h1 class="text">Реєстрація</h1>
            <form action="" method="post">
                <p class="name-text">Username:</p>
                <input name="name" type="text">
                <p class="password-text">Password:</p>
                <input name="password" type="text">
                <p class="confirm-password-text">Confirm password:</p>
                <input name="confirm-password" type="text">
                <button class="button-send" type="submit">Надіслати</button>
            </form>
        </div>
    </main>
{% endblock %}