body{
    margin: 0 auto;
    background-color: #797932;
}

.header{
    height: 10%;
    margin-bottom: 5%;
    background-color: #362D28;
}

.background{
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 100%;
    max-height: 100%;
}

.sendEmail{
    /* display: flex; */
    width: 30%;
    height: 70%;
    background-color: #362D28;
    border-radius: 50px;
    margin: 0 auto;
    min-width: 300px;
}

.review-auto-layout{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 0px, 10px, 0px, 10px; */
    align-items: center;
}

.text{
    width: 60%;
    height: 10%;
    /* position: relative; */
    top: 60px;
    /* left: 75px; */
    font-family: Inter;
    text-align: center;
    color: white;
}

.review{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}